@model Note


 <div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Edit Note</h2>
    </div>

    <form method="post" asp-action="Edit"  asp-controller="NoteBook">
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Title">Note Title</label>
                <input type="text" class="form-control mb-3" asp-for="Title" placeholder="Enter Title" required>
                <span asp-validation-for="Title" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Description">Description</label>
                <input type="text" class="form-control mb-3" asp-for="Description" placeholder="Enter Description">
                <span asp-validation-for="Description" class=" alert-danger"></span>
            </div>
        </div>

      
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="DueDate">DueDate</label>
                <input type="datetime-local" class="form-control mb-3" asp-for="DueDate" />
                <span asp-validation-for="DueDate" class="alert-danger"></span>
            </div>
        </div>
    
             <div class="form-group col-md-6">
            <label for="mySelect">Choose hash tag</label>
            <select asp-for="HashTag" class="form-control">
                <option value="робота">#робота</option>
                <option value="відпочинок">#відпочинок</option>
                <option value="навчання">#навчання</option>
                <option value="спорт">#спорт</option>
                <option value="покупки">#покупки</option>
                <option value="домашнісправи">#домашнісправи</option>
                <option value="зустрічі">#зустрічі</option>
                <option value="поїздки">#поїздки</option>
                <option value="хобі">#хобі</option>
                <option value="проект">#проект</option>
                <option value="терміновісправи">#терміновісправи</option>
                <option value="планування">#планування</option>
                <option value="особистіснийріст">#особистіснийріст</option>
                <option value="здоров’я">#здоров’я</option>
                <option value="фінанси">#фінанси</option>
            </select>
        </div>

        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Update</button>
        <a asp-controller="NoteBook" asp-action="Index" class="btn btn-lg btn-warning p-2">Show All Notes</a>
    </form>

</div> 


@*//for front end validations*@

section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} 